/* layout*/
body {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* PC */
@media screen and (min-width: 1025px) {
    .main {
        display: flex;
        width: 100%;
    }

    .header {
        position: fixed;
        width: 19.7%;
        height: 680px;
        border-right: 2px dashed #000000;
    }

    .container {
        position: relative;
        width: 80%;
        height: 680px;
        margin-left: 20%;
    }

    .title {
        margin-left: 10%;
    }

    .nav {
        margin-top: 50px;
        margin-left: 5%;
        width: 30%;
    }

    .nav-item {
        padding-bottom: 30px;
        width: 100%;
        list-style: none;
        cursor: pointer;
    }

    .nav-item-link {
        text-decoration: none;
        color: #000000;
    }

    .nav-item-link:hover {
        text-decoration: underline;
    }

    .page-title {
        position: absolute;
        top: -5%;
        left: 70%;
        width: 10%;
        height: 35%;
        transform: rotate(90deg);
        font-size: 30px;
        color: #FFFFFF;
    }

    .sp-nav ul {
        display: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .sp-nav li {
        display: none;
        list-style: none;
    }

    .sp-nav li span {
        display: none;
        font-size: 15px;
        color: #fff;
    }

    .sp-nav li a,
    .sp-nav li span {
        display: none;
        display: block;
        padding: 10% 0 10% 0;
    }

    .sp-nav .close {
        display: none;
        position: relative;
        padding-left: 20px;
    }
}

/* モバイル（スマホ） */
@media screen and (max-width: 530px) {
    .header {
        display: flex;
        align-items: center;
    }

    .nav {
        display: none;
    }

    .menu-sp {
        position: relative;
        display: block;
        width: 30px;
        height: 40px;
        margin: 0 0 0 auto;
    }

    .menu-sp span {
        position: absolute;
        top: 40%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transform: translateY(-50%);
    }

    .menu-sp::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000000;
    }

    .menu-sp::after {
        content: '';
        display: block;
        position: absolute;
        top: 70%;
        left: 0;
        width: 70%;
        height: 2px;
        background-color: #000000;
    }

    .sp-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        background: rgba(109, 125, 128, 0.8);
        transition: all 0.2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
    }

    .sp-nav.toggle {
        transform: translateY(0);
        opacity: 1;
    }

    .sp-nav ul {
        width: 100%;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .sp-nav li {
        width: 80%;
        padding-right: 10%;
        text-align: center;
        list-style: none;
    }

    .sp-nav li span {
        width: 30%;
        padding-left: 15%;
        font-size: 15px;
        color: #fff;
    }

    .sp-nav li a,
    .sp-nav li span {
        display: block;
        padding: 20px 0;
        text-decoration: none;
        color: #FFFFFF;
    }

    .sp-nav .close {
        position: relative;
        padding-left: 28%;
    }

    /* バツ印線1 */
    .sp-nav .close::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 25%;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(45deg);
    }

    /* バツ印線2 */
    .sp-nav .close::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 25%;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(-45deg);
    }

    .toggle {
        transform: translateY(0);
        opacity: 1;
    }
}

/* モバイル（ipad） */
@media (min-width:530px) and (max-width:1024px) {
    .header {
        display: flex;
        align-items: center;
    }

    .nav {
        display: none;
    }

    .menu-sp {
        position: relative;
        display: block;
        width: 30px;
        height: 40px;
        margin: 0 0 0 auto;
    }

    .menu-sp span {
        position: absolute;
        top: 40%;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        transform: translateY(-50%);
    }

    .menu-sp::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000000;
    }

    .menu-sp::after {
        content: '';
        display: block;
        position: absolute;
        top: 70%;
        left: 0;
        width: 70%;
        height: 2px;
        background-color: #000000;
    }

    .sp-nav {
        z-index: 1;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: block;
        background: rgba(109, 125, 128, 0.8);
        transition: all 0.2s ease-in-out;
        opacity: 0;
        transform: translateY(-100%);
    }

    .sp-nav.toggle {
        transform: translateY(0);
        opacity: 1;
    }

    .sp-nav ul {
        width: 100%;
        align-items: center;
        text-align: center;
        height: 100%;
    }

    .sp-nav li {
        width: 85%;
        padding-right: 5%;
        text-align: center;
        list-style: none;
    }

    .sp-nav li span {
        width: 30%;
        padding-left: 20%;
        font-size: 15px;
        color: #fff;
    }

    .sp-nav li a,
    .sp-nav li span {
        display: block;
        padding: 20px 0;
        text-decoration: none;
        color: #FFFFFF;
    }

    .sp-nav .close {
        position: relative;
        padding-left: 30%;
    }

    /* バツ印線1 */
    .sp-nav .close::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 30%;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(45deg);
    }

    /* バツ印線2 */
    .sp-nav .close::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 30%;
        display: block;
        width: 16px;
        height: 1px;
        background: #fff;
        transform: rotate(-45deg);
    }

    .toggle {
        transform: translateY(0);
        opacity: 1;
    }
}
